<div class="app-container">
  <header>
    <div class="app-logo">FavAlbums</div>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/albums" routerLinkActive="active">Albums</a>
    </nav>
  </header>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <p>© 2025 FavAlbums | Created by <a href="https://t.me/BeastBoyTK">Tim</a></p>
  </footer>
</div>
